@import 'tailwindcss';

:root {
  --background: #121d52;
  --foreground: #e5e7eb;
  --accent: #22d3ee;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto), 'monospace';
}

@theme {
  --color-accent: #22d3ee;
  --shadow-2xl: 5px 5px 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.clip {
  clip-path: polygon(60% 0, 13% 0, 36% 46%);
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .bold {
    @apply text-slate-100 font-medium;
  }

  .section-title {
    @apply text-white font-semibold tracking-widest z-10 uppercase px-6 bg-background py-4 sticky top-0  md:sr-only;
  }

  .section-spacing {
    @apply space-y-4 lg:space-y-10;
  }

  .contact {
    @apply text-slate-400 hover:text-accent hover:-translate-y-0.5 duration-300 ease-in-out transition-all;
  }
}
