@import 'tailwindcss';

:root {
  --background: #121d52;
  --foreground: #e5e7eb;
  --accent: #22d3ee;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto), 'monospace';
}

@theme {
  --color-accent: #22d3ee;
  --shadow-2xl: 5px 5px 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}
